@model IEnumerable<WebApplication1.Models.tbleTemp>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ctech)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cduration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cprice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ctech)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cduration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cprice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
